<html>
    <head>
        <title>Mi sitio!</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
<header>
    <nav>
        <p>Mi sitio!</p>
        <ul>
            <li>
                <a href="/products/create">Create products</a>
            </li>
            <li>
                <a href="/products/list">All products</a>
            </li>
        </ul>
    </nav>
</header>
    <body>
        
