<!DOCTYPE html>
<html>
  <head>
    <title>MainPage</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('header') %>
    <h1>Hola desde mainPage</h1>
    <%- include('footer') %>

  </body>
</html>
